[submodule "contrib/atomicbitvector"]
       path = contrib/atomicbitvector
       url = https://github.com/ekg/atomicbitvector.git
[submodule "contrib/ips4o"]
	path = contrib/ips4o
	url = https://github.com/SaschaWitt/ips4o.git
[submodule "contrib/flat_hash_map"]
	path = contrib/flat_hash_map
	url = https://github.com/skarupke/flat_hash_map
[submodule "contrib/mmmulti"]
	path = contrib/mmmulti
	url = https://github.com/ekg/mmmulti.git
[submodule "contrib/mio"]
	path = contrib/mio
	url = https://github.com/vimpunk/mio.git
[submodule "deps/paryfor"]
  path = contrib/paryfor
  url = https://github.com/ekg/paryfor.git

